.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  min-width: 100%;
  margin: 0 auto;
  gap: 20px;
  padding: 20px;
}

div[role="textbox"] {
  width: 80%;
  border: 2px solid #dddddd;
  padding: 20px;
  border-radius: 16px;
}

.function-body{
  background-color: #FFF1E1;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.178);
  margin:2px;
}

.function-name{
  background-color: #FFAD31;
  padding: 5px;
  border-radius: 10px;
  font: bold;
  margin:2px;
}





